*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

.site-header{
    display:flex;
    flex-wrap:wrap;
}
.me{
    width:100%
}

.nav li{
    display:inline-block;
}
@media only screen and (min-width:600px){
    .me{
        width:20rem;
        max-width:100%
    }
    .site-header{
        justify-content: space-between;
    }
}
.description{
    font-family:fantasy;
}